@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
  --light-cyan: hsl(193, 38%, 86%);
  --neon-green: hsl(150, 100%, 66%);

  --grayish-blue: hsl(217, 19%, 38%);
  --dark-grayish-blue: hsl(217, 19%, 24%);
  --dark-blue: hsl(218, 23%, 16%);
}

body {
  min-height: 100vh;
  margin: 0;
  font-family: 'Manrope', sans-serif;
  background-color: var(--dark-blue);
  display: grid;
  place-items: center;
  grid-template-rows: 1fr 100px;
}

* {
  box-sizing: border-box;
}

.card {
  background-color: var(--dark-grayish-blue);
  border-radius: 12px;
  color: var(--light-cyan);
  width: min(450px, 90vw);
  min-width: 250px;
  padding: 36px;
  position: relative;
}

.card.animation {
  animation: pop 0.9s forwards;
}

.card > h1 {
  margin-top: 0;
  text-align: center;
  color: var(--neon-green);
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.card > p {
  text-align: center;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 30px;
}

.card > img {
  width: 100%;
  margin-bottom: 24px;
}

.card > button {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--neon-green);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  bottom: -20px;
  transition: 0.2s;
}

.card > button:hover {
  box-shadow: 0 0 24px var(--neon-green), inset 0 0 14px var(--neon-green);
}

.card > button > img {
  width: 50%;
}

.card > button > img.animation {
  animation: rotate 0.7s linear infinite;
}

footer {
  text-align: center;
  color: var(--light-cyan);
}

footer a {
  color: var(--light-cyan);
}

footer a:hover {
  text-decoration: none;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@keyframes pop {
  50% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1.1);
  }
  90% {
    transform: scale(1);
  }
}